*{
    margin: 0;
    padding: 0;
}

.box{
    border: 1px solid #777;
    padding: 50px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    margin: 50px;

}